<br>
<hr>
<table border = "1">
  <tr>
    <th>
      ID
    </th>
    <th>
        TITLE
    </th>
    <th>
          PRICE
    </th>          
    <th>
      DELETE
    </th>
  </tr>
  <!-- foreach Coupon coupon : coupons-->
  <tr *ngFor="let coup of coupons; let i = index">
    <td>{{coup.id}}</td>
    <td>{{coup.title}}</td>
    <td>{{coup.price}}</td>
    <td><button (click)="deleteCoupon(i)">X</button></td>
  </tr>
</table>
<br>
<br>
<hr>
NEW COUPON:
<br>
ID : <input type="number" name="idtxt" [(ngModel)]="couponAdd.id"><br>
TITLE : <input type="text" name="titletxt" [(ngModel)]="couponAdd.title"><br>
PRICE : <input type="number" name="pricetxt" [(ngModel)]="couponAdd.price"><br>
<button (click)="addCoupon()">ADD COUPON</button>
<br>
<br>
<p>
  {{couponAdd | json}}
</p>