<br>
<br>
<font size="+2" style="font-size:10vw" style="font-family:Times New Roman">
  Create New Company:
</font>
<hr>

<form #createForm="ngForm">
  <div class="form-group">
    <!--ID : <input class=disabled type="number" name="idtxt" [(ngModel)]="companyAdd.id" readonly><br>-->
    <div *ngIf="fullName?.touched">
      <div *ngIf="fullName.errors?.required" class="alert">
        <font color="red">Name is Required</font>
      </div>
    </div>
    <input type="text" required name="compnametxt" [(ngModel)]="companyAdd.compName" #fullName="ngModel" placeholder="Enter Name"><br>
  </div>
  <div class="form-group">
    <input type="text" name="passwordtxt" [(ngModel)]="companyAdd.password" placeholder="Enter Password"><br>
  </div>
  <div class="form-group">
    <input type="email" name="emailtxt" [(ngModel)]="companyAdd.email" placeholder="Enter Email"><br>
  </div>
  <button (click)="addCompany(createForm)" ng-disabled="entityPropertyForm.$pristine || entityPropertyForm.$touched"
    type="submit" class="button glow-button btn btn-default" [disabled]="createForm.invalid">Add Company</button>
  <br>
  <br>
</form>