<div style="background-color: white">

  <router-outlet></router-outlet>



  <div class="container">
    <div class="row">
      <div class="col-md-3" style="background-color: lightblue">
        <div class="row">
          <div class="col-md-12" style="background-color: lightblue">
        
            <div class="sidebarContent">
              <app-create-customer></app-create-customer>
            </div>
        
            <div class="sidebarContent">
              <app-get-customer></app-get-customer>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12" style="background-color: lightgreen">
          </div>
        </div>
      </div>


      <div class="col-md-9" style="background-color: lightblue">
        <div class="mainContent">
          <app-get-all-customers></app-get-all-customers>
        </div>
      </div>

    </div>
  </div>
</div>