@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');


.sidebarContent {
    margin-bottom:10px;
    min-height:150px;
    background-color:white;
    text-align:center;
    font-size:large;
}
.mainContent {
    margin-bottom:10px;
    min-height:310px;
    background-color:white;
    text-align:center;
    font-size:large;
}	


.button {
   -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
  }
  
  .glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }
  
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  
  *:focus {
    outline: none;
  }


h2 {
  text-align: center;
}
.bt-glyphicons {
	margin:0;
	overflow:hidden;
}
.bt-glyphicons-list {
	margin: 0;
	padding:0;
	list-style:none;
}
.bt-glyphicons li {
	float:left;
	width:25%;
	height:115px;
	padding:10px;
	font-size:14px;
	line-height:1.4;
	text-align:center;
	border:1px solid #fff;
	background-color:#f1f1f1;
}
.bt-glyphicons .glyphicon {
	margin: 5px;
	font-size:16px;
}

