<br>
<br>
<font size="+2" style="font-size:10vw" style="font-family:Times New Roman">
  Create New Customer:
</font>
<hr>
<form #createForm="ngForm">
  <div class="form-group">
    <div *ngIf="fullName?.touched">
      <div *ngIf="fullName.errors?.required" class="alert">
          <font color="red">Name is Required</font>
      </div>
  </div>
    <input type="text" required name="custnametxt" [(ngModel)]="customerAdd.custName" #fullName="ngModel" placeholder="Enter Name"><br>
</div>
<div class="form-group">
  <input type="text" name="passwordtxt" [(ngModel)]="customerAdd.password" placeholder="Enter Password"><br>
</div>
  <button (click)="addCustomer(createForm)" ng-disabled="entityPropertyForm.$pristine || entityPropertyForm.$touched" type="submit" class="button glow-button btn btn-default" [disabled]="createForm.invalid">Add Customer</button>
  <br>
  <br>
</form>



<!--


<div class="container">
  <h1>Create Company Form</h1>
  <form>
    <div class="form-group">
      <label for="compnametxt">Name</label>
      <input type="text" class="form-control" id="compname" required>
    </div>

    <div class="form-group">
      <label for="passwordtxt">Password</label>
      <input type="text" class="form-control" id="password">
    </div>

    <div class="form-group">
      <label for="emailtxt">Email</label>
      <input type="email" class="form-control" id="email">
    </div>

    <button (click)="addCompany()" type="submit" class="button">Add Company</button>

  </form>
</div>
-->
<!--
<div class="panel panel-default" style="max-width: 70%;margin-left:15%; margin-top: 10%">
  <div class="panel-heading">
<h2 style="text-align: center">
  New Company</h2>
</div>
<div class="panel-body">
  <form class="form-horizontal" style="margin-left: 15%">
    <div class="form-group">
      <label for="inputCompanyName" class="control-label col-sm-2">Name</label>
      <div class="col-sm-6">
        <input class="form-control" placeholder="Creation Username" type="text" id="inputUserName" />
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="control-label col-sm-2">Password</label>
      <div class="col-sm-6">
        <input class="form-control" placeholder="Creation Password" type="password" id="inputPassword" />
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="control-label col-sm-2">Email</label>
      <div class="col-sm-6">
        <input class="form-control" placeholder="Creation Email" type="email" id="inputEmail" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
</div>
-->